[submodule "2022-CVPR-AIRNET"]
	path = 2022-CVPR-AIRNET
	url = git@github.com:davidchd/2022-CVPR-AirNet.git
[submodule "XYSingleImage-Deblurring"]
        path = XYSingleImage-Deblurring
        url = https://github.com/cccathyZei/XY-Single-Image-Deblurring
